.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191b1f;
  height: 100vh;
}
.todoCard{
  transition: all 0.5s ease-in-out !important;
}
.todoCard:hover{
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0,0,0.4);
}

.iconButton{
  transition: all 0.4s !important;
}
.iconButton:hover{
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0,0,0.4);
}

/* CUSTOM FONTS */
@font-face{
  font-family: A ;
  src: url("/public/fonts/YesevaOne-Regular.ttf");
}
/* ==CUSTOM FONTS== */

